.qrContainer {
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: auto;
}

.qrContainer div {
  margin: 16px 8px;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  margin-top: 15px;
  border-radius: 60px;
  padding: 8px 4px;
  width: 330px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  background-color: white;
  border-radius: 60px;
  padding: 20px;
  margin-left: 5px;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: auto;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
